# Environment
.clang-format
.devcontainer
.vscode
replit.nix
# Project 2
project2/tests/server/http_server
project2/uthread-sync-demo
project2/lockperformance
project2/ioperformance
project2/hcioperformance
project2/http_server
project2/test
project2/ioperformance.txt
# Object files
project2/tests/server/*.so
project2/tests/server/*.o
project2/tests/*.o
project2/lib/*.o
# Other files
project2/.nfs00000000018643ab000000fc
project2/.nfs00000000018643d60000011a
project2/.nfs0000000001864332000000d3
testing_setup.txt

#Project 2


#Other files
project3/.nfs*


